@mixin fontStyle($color) {
    color: black;
    background-color: $color;
    text-transform: uppercase;
}

.titulo-tickets{
    font-size: 100px;
    justify-content: left;
    background-image: radial-gradient(red, orange);
    text-align: center;
    }

.t{
    font-size: 50px;
    margin: 50px;
    padding: 10px;
    @include fontStyle(blue)
}